*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

clearfix::after{
    content: "";
    display: table;       
    clear: both;
}


header{
    background-color: #add8e6;
    height: 4rem;   
}

nav{
    background-color: #daa520;
    height: 2rem;
    width: 50%;
}

ul{
    list-style-type: none;
    width: calc(100% / 3);
    justify-content: space-around;
}

.container-dim{
    height: 550px;
}

.dim{
    width: 70%;
    height: 450px;
}

header div{
    width: 70%;
}

header div>*{
    background-color: #daa520;
    height: 2rem;
}

.center{
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.border{
    border: black 2px dashed;
}

.logo{
    width: 25%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.5rem;
}

.login{
    width: 25%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5rem;
}

.blue{
    background-color: #00008b;
    height: 450px;
}

.blue div{
    background-color: #ee82ee;
    width: 50%;
    height: 350px;
}

.skyblue-box{
    width: 60%;
    background-color: #1e90ff;

}

.lightpink-box{
    width: 40%;
    background-color: #ffc0cb;
}

.gray{
    background-color: #d3d3d3;
}

.reverse-row{
    flex-direction: row-reverse;
}

.big{
    height: 900px;
}

.green{
    background-color: #228b22;
    height: 800px;
}